// app global css in SCSS form
.bg-a {
  background-color: var(--q-color-a);
}

.text-a {
    color: var(--q-color-a);
}

.bg-b {
  background-color: var(--q-color-b);
}

.text-b {
    color: var(--q-color-b);
}

.bg-c {
  background-color: var(--q-color-c);
}

.text-c {
    color: var(--q-color-c);
}

.bg-white {
  background-color: var(--q-color-white);
}

.text-white {
    color: var(--q-color-white);
}

.bg-black {
  background-color: var(--q-color-black);
}

.text-black {
    color: var(--q-color-black);
}